<md-card [ngClass]="{selectCard: checked}" class="article" >
    <img md-card-image [src]="getImageSrc()">
    <md-checkbox
        [(ngModel)]="checked"
        (ngModelChange)="check($event)"></md-checkbox>
    <md-card-title>{{ article.title }}</md-card-title>
    <md-card-subtitle><p>{{ article.title }} <span>{{article.date | date}}</span></p></md-card-subtitle>
    <md-card-content>{{article.description}}</md-card-content>
    <md-card-actions class="actions">
        <button md-button color="primary">About</button>
    </md-card-actions>
</md-card>

