:host{
    display: inline-block;
    margin: 15px;
}

md-card{
    width: 300px;
}

md-card md-card-actions{
    display: flex;
}

md-card md-card-actions button{
    margin-left: auto;
}

md-card md-checkbox{
    position: absolute;
    top: 10px;
    right: 10px;
}

