<form [formGroup]="addArticleForm" (ngSubmit)="addArticle()">
  <md-card>
      <img md-card-image [src]="addArticleForm.controls.imageUrl.value | default">
        <md-card-content>
            <md-input-container>
              <input mdInput placeholder="Article Image URL" formControlName="imageUrl">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Author" formControlName="author">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Title" formControlName="title">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Description" formControlName="description">
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <button md-button color="primary" [disabled]="!addArticleForm.valid">Add</button>
        </md-card-actions>
  </md-card>
 </form>
